@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem "Roboto",sans-serif;
    margin: 0;
    background: #F5F7FF;

}
h1,h2,h3,h4,p,ul,figure{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    box-sizing: border-box;
}
:root{
    --color-default:#fff;
    --color-header: #091536;
    --color-main: #EAEFFF;
    --color-subtitle: #094AFE;
}
header{
    position: relative;
    background-color: var(--color-header);
}
header img{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
    width: 5.5rem;
    height: 5.5rem;
}
nav{
    position: relative;
}
nav .accessibility-page{
    padding-top: 5rem;
    position: absolute;
    top: 13%;
    right:15%;
    height: 10rem;
    width: 10rem;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}
.accessibility-page h4{
    font-weight: 300;
}
.switch-accessibility{
    filter: grayscale(100%);
}
header h1{
    line-height: 7.5rem;
    text-align: center;
    color: var(--color-default);
    font-weight: 300;
}
section ul li img{
    display: block;
    max-width: 100%;
    clip-path: polygon(102.75% -2px, 102.52% 87.55%, -2.32% 99.57%, -8px -1.48%);
}
section .grid-image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.0rem;
    margin: 1rem 0;
    

}
section h3{
    padding: 1rem;
    font-weight: 400;
    
}
section h2{
    position: relative;
}
section h2::after{
    position: absolute;
    bottom: -.5rem;
    left: 1.6rem;
    content: '';
    width: 1.0rem;
    height: 1.0rem;
    background: inherit;
    z-index: 1;
    transform: rotate(45deg);
    
}
section h2 img{
    vertical-align: -.2rem;
    margin-right: .5rem;
    filter: invert(100%);
    
}
section ul li{
    line-height: 2.5rem;
}
section .stadies li{
    padding: 1rem;
    
}
section .activities{
    text-transform: lowercase;
}
section .activities::first-letter{
    text-transform: capitalize;
}
section .activities::before{
    content: url('../asset/music.svg');
    filter: invert(100%);
    vertical-align: -.3rem;
    margin-right: .5rem;
    z-index: 2;
}

main,footer{
    max-width: 100rem;/* largeur maxi */
    margin: 5rem auto;
    padding: 1rem;
    border: solid .1rem transparent;
    background-color: var(--color-main);
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}
main section h2{
    padding: 1rem;
    font-weight: 300;
    background-color: var(--color-subtitle);
    color: var(--color-default);
    font-weight: normal;
}
main section p{
    padding: 1rem;
    line-height: 2.6rem;
}
footer p{
    text-align: center;
}

iframe{
    display: none;
    margin:0 auto;
}

/* version mobile */

@media screen and (max-width: 100rem){
    header h1{
        line-height: 2.6rem;
        font-size: 2.5rem;
        padding-top: 1rem;
    }
    header h1 .material-icons{
        vertical-align: -0.2rem;
        margin-right: .5rem;
    }
    header img{
        position: static;
        margin: 0 auto;
        display: block;
    }
    nav .accessibility-page{
        padding: .8rem;
        position: static;
        top: 0;
        right:0;
        height: auto;
        width: auto;
        text-align: left;
        z-index: 1;
        cursor: pointer;
    }
    nav .accessibility-page img{
        display: inline-block;
    }
    main{
        margin-top:0.1rem;
        margin-bottom: 0.4rem;
    }
    section h2{
        font-size: 2rem;
    }
    section p, section ul li{
        text-align: justify;
    }
    section .grid-image{
       grid-template-columns: repeat(2, 1fr);
    }
    footer{
        margin: 0;
        padding:0;
    }
    footer p{
       background-color: var(--color-header); 
       color: #fff;
       line-height: 3.5rem;
    }

}
@media screen and (orientation: landscape){
    section .grid-image{
        grid-template-columns: repeat(4, 1fr);
     }

}